{% load static %}
<footer class="page-footer font-small mdb-color pt-4" style="color: white;
background: #262626;">

  <!-- Footer Links -->
  <div class="text-center text-md-left" style="padding: 20px;">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <a style="margin-bottom: 20px;" class="navbar-brand" href="{% url 'core:main' %}"><img style="width: 140px;" src="{% static 'img/Artboard 1 copy 9@2x.svg' %}" alt=""></a>
        <div>
          <a href="" class="social-icons"><img src="{% static 'img/instagram.svg' %}" alt=""></a>
          <a href="" class="social-icons"><img src="{% static 'img/facebook.svg' %}" alt=""></a>
          <a href="" class="social-icons"><img src="{% static 'img/youtube.svg' %}" alt=""></a>
          <a href="" class="social-icons"><img src="{% static 'img/twitter.svg' %}" alt=""></a>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold">Menu</h6>
        <p>
          <a href="{% url 'core:products' %}" style="color: white; font-weight: 400; font-size: 16px;">Yeni</a>
        </p>
        <p>
          <a href="{% url 'core:products' %}" style="color: white; font-weight: 400; font-size: 16px;">Endirimler</a>
        </p>
        <p>
          <a href="{% url 'core:products' %}?category=Accessories" style="color: white; font-weight: 400; font-size: 16px;">Aksessuarlar</a>
        </p>
        <p>
          <a href="{% url 'core:products' %}?brand=all" style="color: white; font-weight: 400; font-size: 16px;">Bütün brendlər</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold">Kömək</h6>
        <p>
          <a href="{% url 'core:faq' %}" style="color: white; font-weight: 400; font-size: 16px;">Tez-tez soruşulan suallar</a>
        </p>
        <p>
          <a href="" style="color: white; font-weight: 400; font-size: 16px;">Çatdırılma xidməti</a>
        </p>
        <!-- <p>
          <a href="#!" style="color: white; font-weight: 400; font-size: 16px;">Shipping Rates</a>
        </p>
        <p>
          <a href="#!" style="color: white; font-weight: 400; font-size: 16px;">Help</a>
        </p> -->
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold">Elaqə</h6>
        <p>
          M. K. Ataturk avenue 89, Baku, Azerbaijan</p>
        <p>
         info@gmail.com</p>
        <p>
           +994 55 278 10 26</p>
        <!-- <p>
           + 01 234 567 89</p> -->
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2021 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong style="color: #2DD06E;"> tello.az</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                         </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                             </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>