{% load static %}
<h1 style="display: none;" id="{{request.user.id}}" class="user-id"></h1>
<nav class="navbar navbar-expand-lg navbar-light pr-5 pt-4 pb-3" style="padding-left: 75px;">
    <a class="navbar-brand" href="{% url 'core:main' %}"><img style="width: 140px;" src="{% static 'img/Artboard 1 copy 9@2x.svg' %}" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-2 mt-lg-0" style="margin: 0 auto;">
          <form class="form-inline my-2 my-lg-0 nav-form" style="margin-left: 100px;" action="{% url 'core:products' %}">
              <input class="form-control mr-sm-2 nav-inp" name="title" style="width: 591px; height: 40px; background-color: #F7F9FC; border-radius: 7px;" placeholder="Axtaris..." aria-label="Search" value="{{request.GET.title}}">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
            <div style="display: flex; margin-left: 113px;" class="nav-iconss">
          <li class="nav-item">

            <div class="dropdown show" style="padding-top: 8px;">
              <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'img/person.svg' %}" alt="">

              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'account:user-profile' user.slug%}">{{request.user}}</a>
                <a class="dropdown-item" href="{% url 'account:log-out' %}">Sign out</a>
                {% else %}
                <a class="dropdown-item" href="login.html">Sign in</a>
                <a class="dropdown-item" href="register.html">Sign up</a>
                {% endif %}
              </div>
            </div>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'accounts:profile-favorites' request.user.slug%}"><img src="{% static 'img/heart.svg' %}" alt=""></a>

                {% else %}
                <a class="nav-link" href="{% url 'accounts:login' %}"><img src="{% static 'img/heart.svg' %}" alt=""></a>

                {% endif %}
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'accounts:cart' request.user.slug%}"><img src="{% static 'img/cart.svg' %}" alt=""> <span style="color: white; background-color: #2DD06E; border-radius: 50%; padding: 1px 5px; font-size: 14px;">{{request.user.user_cart.product_version.all.count}}</span></a>

                {% else %}
                <a class="nav-link" href="{% url 'accounts:login' %}"><img src="{% static 'img/cart.svg' %}" alt=""></a>

                {% endif %}
          </li>
      </div>
        </ul>
        
      </div>
    </nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:products' %}" style="color: black;">Yeni</a>
      </li>
      <li class="nav-item">
        {% if request.GET.brand == 'Apple'%}
        <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?brand=Apple">Apple</a>
        {% else %}
        <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?brand=Apple">Apple</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if request.GET.brand == 'Samsung'%}
        <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?brand=Samsung">Samsung</a>
        {% else %}
        <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?brand=Samsung">Samsung</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if request.GET.brand == 'Xiaomi'%}
        <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?brand=Xiaomi">Xiaomi</a>
        {% else %}
        <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?brand=Xiaomi">Xiaomi</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if request.GET.brand == 'Redmi'%}
          <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?brand=Redmi">Redmi</a>
        {% else %}
        <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?brand=Redmi">Redmi</a>
        {% endif %}

        </li>
        <li class="nav-item">
          {% if request.GET.brand == 'all'%}
          <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?brand=all">Butun brendler</a>
          {% else %}
          <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?brand=all">Butun brendler</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if request.GET.category == 'Accessories'%}
          <a class="nav-link" style="color:#2DD06E;" href="{% url 'core:products' %}?category=Accessories">Aksessuarlar</a>
          {% else %}
          <a class="nav-link" style="color:black;" href="{% url 'core:products' %}?category=Accessories">Aksessuarlar</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black;" href="#">Endirimler</a>
        </li>
    </ul>