{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .fullname-inp {
        width: 359px;
        background: #F2F2F2;
        border-radius: 8px;
        margin-top: -30px;
        height: 48px;
        border: none;
        padding-left: 16px;
    }
</style>
{% endblock %}

{% block content %}
      <div class="main" style="margin-top: 100px; margin-bottom: 148px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center first-part" style="padding-left: 55px;">
                    <div class="form-div">
                        <form method="POST" class="my-login-validation" novalidate="" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.non_field_error}}
                            <h3 style="font-size: 20px; margin-bottom: 36px;">Qeydiyyat</h3>
                            <div class="social-div">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 text-center social">
                                            <div class="d-flex soc-item" style="justify-content: end; padding-right: 28px;">
                                                <div style="background-color: #4267B2;
                                                width: 32px;
                                                height: 32px;
                                                border-radius: 50%;
                                                padding-top: 2px;">
                                                    <img src="{% static 'img/google.svg' %}" alt="">
                                                </div>
                                                <span style="size: 12px; margin-left: 8px; margin-top: 4px;" class="social-span">Facebook ilə</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 social">
                                            <div class="d-flex soc-item" style="justify-content: start; padding-left: 28px;">
                                                <div style="background-color: 
                                                #DB4437;
                                                width: 32px;
                                                height: 32px;
                                                border-radius: 50%;
                                                padding-top: 2px;">
                                                    <img src="{% static 'img/facebook2.svg' %}" alt="">
                                                </div>
                                                <span style="size: 12px; margin-left: 8px; margin-top: 4px;" class="social-span">Google ilə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="color: #BDBDBD; margin-top: 16px;">və ya</p>
                            <div class="inputs">
                                <div class="whole-input" style="margin-bottom: 19px;">
                                    <div>

                                        <label for="fullname" style="margin-right: 270px;
                                        margin-bottom: -20px;" class="fullname-label">Ad, Soyad</label>
                                    </div>
                                    <br>
                                    {{form.full_name}}
                                    {{form.full_name.errors}}
                                </div>
                                <div class="whole-input" style="margin-bottom: 19px;">
                                    <div>

                                        <label for="email" style="margin-right: 300px;
                                        margin-bottom: -20px;" class="email-label">E-mail</label>
                                    </div>
                                    <br>
                                    {{form.email}}
                                    {{form.email.errors}}
                                </div>
                                <div class="whole-input" style="margin-bottom: 19px;">
                                    <div>

                                        <label for="fullname" style="margin-right: 255px;
                                        margin-bottom: -20px;" class="number-label">Mobil nömrə</label>
                                    </div>
                                    <br>
                                    {{form.number}}
                                    {{form.number.errors}}
                                </div>
                                <div class="whole-input" style="margin-bottom: 19px;">
                                    <div>

                                        <label for="fullname" style="margin-right: 315px;
                                        margin-bottom: -20px;" class="passoword-label">Şifrə</label>
                                    </div>
                                    <br>
                                    {{form.password1}}
                                    {{form.password1.errors}}
                                </div>
                                <div class="whole-input" style="margin-bottom: 19px;">
                                  <div>

                                      <label for="fullname" style="margin-right: 269px;
                                      margin-bottom: -20px;" class="password-t-label">Şifrə təstiqi</label>
                                  </div>
                                  <br>
                                  {{form.password2}}
                                  {{form.password2.errors}}
                              </div>

                                <div class="whole-input terms" style="width: 400px; margin-left: 65px;">
                                    <input type="checkbox"> <span><a href="">İstifadəçi şərtləri </a>ilə razıyam</span>
                                </div>

                                <div class="whole-input" style="margin-top: 48px;">
                                  <input type="submit" class="submit-btn" style="width: 359px;
                                  height: 48px;
                                  background: #2DD06E;
                                  border-radius: 8px;
                                  color: white;
                                  border: none;" value="Qeydiyyat">
                                </div>
                                

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 second-part" style="padding-left: 100px;">
                  <div class="illustration-cont" style="margin-bottom: 32px;">
                    <img src="{% static 'img/undraw_mobile_devices_k1ok 1.svg' %}" alt="">
                    <img src="{% static 'img/Dot Grid.svg' %}" class="dot-grid" alt="" style="margin-top: -87px;
                    margin-left: -137px;">
                  </div>
                  <div style="width: 388px;
                  text-align: center;">
                    <p>Artıq hesabınız var? <a href="">Daxil olun </a></p>

                  </div>
                </div>
            </div>
        </div>
      </div>

{% endblock %}