{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkboxes.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        .profile-infp-inp {
            background: #F2F2F2;
                                    border-radius: 8px;
                                    width: 279px;
                                    height: 48px;
                                    opacity: 1;
                                    position: inherit;
                                    border: none;
                                    padding-left: 16px;
        }
        .slick-next,
        .slick-prev {
            background-color: rgb(209, 202, 202);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            z-index: 1;
        }

        .slick-next:hover,
        .slick-prev:hover {
            background-color: rgb(77, 52, 52);

        }

        .slick-next:focus,
        .slick-prev:focus {
            background-color: rgb(68, 63, 63);

        }

        .slick-slide {
            margin: 0 10px;
        }

        .card-header {
            background-color: transparent;
        }

        .btn-link {
            color: #4F4F4F;
        }

        .btn-link:hover {
            color: #4F4F4F;
            text-decoration: none;
        }
        .page-link {
            margin-left: 32px;
        }
        .page-item:first-child .page-link {
            margin-left: 0;
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
        .page-item:last-child .page-link {
            border-radius: 50%;
            width: 36px;
            height: 36px;
}
.num {
    border: none;
}
.card {
    /* filter: drop-shadow(0px 4px 24px rgba(130, 130, 130, 0.16)); */
    border: transparent;
    box-shadow:none !important;
    background-color: 
white;
}
.card-header {
    border-bottom: none;
}

@media (min-width: 361px) and (max-width: 767px) {
    .empty-cont {
        display: flex;
        justify-content: initial !important;
    }
    .blocks-cont {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .personal-info {
        margin-right: 5px !important;
    }
    .block-1-img-cont {
        text-align: center;
    }
    .order-block-1 {
        display: block !important;
    }
    .profile-inputs-cont {
        display: block !important;
    }
    }
 @media (max-width: 360px) {
    .empty-cont {
        display: flex;
        justify-content: initial !important;
    }
    .blocks-cont {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .personal-info {
        margin-right: 5px !important;
    }
    .block-1-img-cont {
        text-align: center;
    }
    .order-block-1 {
        display: block !important;
    }
    .profile-inputs-cont {
        display: block !important;
    }
    }
 @media (min-width: 768px) and (max-width: 841px) {
    
    .empty-cont {
        display: flex;
        justify-content: initial !important;
    }
    .blocks-cont {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .personal-info {
        margin-right: 5px !important;
    }
    .block-1-img-cont {
        text-align: center;
    }
    .order-block-1 {
        display: block !important;
    }
    .profile-inputs-cont {
        display: block !important;
    }
    }
    </style>
    {% endblock %}

    {% block content %}

    <div class="profile-main" style="background-color: #FAF9F9; padding-bottom: 158px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 sections-cont" style="margin-top: 40px; padding-left: 73px;">
                    <div class="profile-sections" style="width: 280px; background-color: white; border-radius: 8px; padding-top: 32px; padding-left: 26px; padding-bottom: 32px;">
                        <h5 style="font-size: 20px; padding-bottom: 32px; color: #4F4F4F;">Profilim</h5>
                        <div>
                            <ul style="padding-left: 0;">
                                <li style="list-style: none; margin-bottom: 32px;"><img style="margin-right: 16px;" src="{% static 'img/cart.svg' %}" alt=""><span style="color: #4F4F4F;">Sifarişlərim</span></li>
                                <li style="list-style: none; margin-bottom: 32px;"><img style="margin-right: 16px;" src="{% static 'img/heart.svg' %}" alt=""><span style="color: #4F4F4F;">Favorilərim</span></li>
                                <li style="list-style: none; margin-bottom: 32px;"><img style="margin-right: 16px;" src="{% static 'img/person.svg' %}" alt=""><span style="color: #4F4F4F;">Şəxsi məlumatlar</span></li>
                                <li style="list-style: none; margin-bottom: 32px;"><img style="margin-right: 16px;" src="{% static 'img/pin.svg' %}" alt=""><span style="color: #4F4F4F;">Çatdırılma ünvanı</span></li>
                                <li style="list-style: none; margin-bottom: 32px;"><img style="margin-right: 16px;" src="{% static 'img/person-green.svg' %}" alt=""><span style="color: #2DD06E;">Şifrəni yenilə</span></li>
                                <li style="list-style: none;"><img style="margin-right: 16px;" src="{% static 'img/log-out.svg' %}" alt=""><span style="color: #4F4F4F;">Çıxış</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 profile-cards-cont" style="margin-top: 40px; padding-left: 34px;">
                    <div class="profile-names-cont">
                        <h4 class="profile-name-mobile" style="margin-bottom: 16px; color: #4F4F4F;">Profilim</h4>
                        <h5 style="font-size: 20px; padding-bottom: 16px; color: #4F4F4F; margin-top: 9px;">Şifrəni yenilə</h5>

                    </div>
                    
                    <div class="empty-cont">
                        <div style="background-color: white; width: 720px; border-radius: 8px;">
                            <form action="" style="padding-left: 32px; padding-top: 32px; padding-bottom: 32px;" novalidate="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.non_field_error}}
                                <div style="display: flex;" class="profile-inputs-cont">
                                <div style="margin-bottom: 24px; margin-right: 32px;">
                                    <p>Cari şifrə</p>
                                    {{form.old_password}}
                                    {{form.old_password.errors}}
                                </div>
                                <div style="margin-bottom: 24px;">
                                  <p>Yeni şifrə</p>
                                  {{form.new_password1}}
                                  {{form.new_password1.errors}}
                              </div>
                              
                            </div>
                            <div>
                                <div style="margin-bottom: 24px;">
                                    <p>Yeni şifrəni yenidən daxil edin</p>
                                    {{form.new_password2}}
                                    {{form.new_password2.errors}}
                                </div>
                            </div>
                              
                        
                        
                        
                        <div style="text-align: center;">
                            <input type="submit" value="Şifrəni yenilə" style="background-color: #2DD06E; border: none; border-radius: 8px; padding: 16px 80px; color: white;">
                        </div>
                              
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
{% endblock %}